.pagination-div {
  padding: 10px;
}

.pagination-div {
  position: fixed;
  left: 0;
  bottom: 1px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: goldenrod;
  border-color: goldenrod;
}

.pagination a {
  cursor: pointer;
  padding: 10px;
  color: white;
  background: rgb(109, 109, 247);
}

.pagination li {
  margin-left: 2px;
}
